In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [14]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine

Engine(postgresql://root:***@localhost:5433/ny_taxi)

In [15]:
df.to_sql(name = 'zones', con = engine, if_exists = 'replace')

265